/* design and possotion the div basic position*/
/* banner possition */
/* navbar */
.slidebar{
	background: #d10e93;
	padding: 20px;
	transition: all .5s ease;
}
.slidebar a{
padding: 10px;
font-size: 20px;
color: black;
line-height: 25px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
transition: all .5s ease;

}
.slidebar a:hover{
transition: all 1s ease;	
color: black;
background: #d968c3;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-bottom:3px solid white;
border-bottom-color: green;
}

.slidebar  .active{
	background: #d968c3;
}
#checkmenubar , #check{
	display: none;
}
/* the cart on nav bar*/
.mycart{
	background-color: white;
	color: red;
	margin-bottom:  10px;
	padding-top:  10px;
	border-radius: 50%;
	
	
}

section{
	background: #FFF;
	transition: all .5s;
	padding: 1px;
	display: block;
	
}
/* navbar on small screen */

@media (max-width: 650px){
	.slidebar header{
	color: green;
	background: #4CAF50;
	text-align: center;
	font-size: 24px;
	padding-top: 20px;
	padding-bottom: 10px;
	background: #fff;

}
.slidebar{
	background: #d10e93;
	height: 100%;
	width: 40%;
	position: fixed;
	left: -50%;
	top: 0;
	transition: all .5s ease;
	z-index: 100;
}
.slidebar a{
	
	display: block;
	width: 100%;
	line-height: 45px;
	font-size: 15px;
	color: black;
	padding: 0;
	transition: all 1s ease;
	padding-left: 5px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom:1px solid white;

}
.slidebar a:hover{
	background:  #d968c3;;
	border-bottom:3px solid green;

}
#checkmenubar{
	display: block;
}
#check{
	display: none;
}
#checkmenubar #btnmenu, #checkmenubar #btnclose{
	position: absolute;
	cursor: pointer;
}
#checkmenubar #btnclose{
	left: -24%;
	top :0px;
	transition: all .5s ease;
	z-index: 1000;
	position: fixed;
	height: 30px;
}
#checkmenubar #btnmenu{
	left: 3%;
	top :0px;
	
	transition: all .5s ease;
}



#check:checked ~ .slidebar{
	left:0%; 
}
#check:checked ~ #checkmenubar #btnmenu{
	left:3%;   
	opacity: 0;
	pointer-events: none;
}
#check:checked ~ #checkmenubar #btnclose{
	left: 40%;
	top: 0%;
}
#check:checked ~ section{
	margin-left: 20%;
}
#check:checked ~ #logoholder{
	margin-left: 38%;
}


}

/* footer design */
#footerholder{
	width: 98%;
	padding: .5%
		background-size: 100%; 
background-repeat:round; background-position: left top;padding: 10px;
}

#footerlinks{
	width: 98%;
	display:flex;
}
#footercontacts{
	width: 50%;
	padding: .5%;
}
#footerpartners{
	width: 50%;
	padding: .5%;
}


/* card design */
#itemcardholder{
	
width: 99%;
display: flex;
padding: 10px;
}
#itemcard{
	display: flex;
   box-shadow: 0 0 10px black;
	width: 30%;
	background-image: url(images/bacground1.png);
	background-size: 100%; 
background-position: center;
margin-left: 10px;
background-repeat:round; background-position: left top;padding: 10px;
}

#itemimage{
	width: 50%;
}
#itemdiscription{
	font-size: 2vw;
	width: 50%;
}
#itemdiscription button{
	font-size:2vw;
	width: 90%;
	border-radius: 5px;
	background: green;
}

@media (max-width: 650px){
	#itemcardholder{
width: 98%;
display: block;
padding: 0px;
}
#itemcard{
	display: flex;
	width: 95%;
	background-image: url(images/bacground1.png);
	background-size: 100%; 
background-position: center;
margin-left: 0px;
background-repeat:round; background-position: left top;padding: 10px;
}
#itemdiscription{
	font-size: 22px;
	width: 50%;
}
#itemdiscription button{
	font-size: 22px;
	width: 90%;
	border-radius: 5px;
	background: green;
}
#footerholder{
	width: 96%;
	padding: .5%
		background-size: 100%; 
background-repeat:round; background-position: left top;padding: 10px;
}
}


